body {
  margin: 0;
}
canvas { 
  width: 100vw; 
  height: 100vh; 
  display: block; 
}
.title {
  position: absolute;
  font-weight: bold;
  font-size: 4em;
  font-family: 'Arial';
  color: #212121b9;  
  top: 10%;
  left: 50%;
  transform: translate(-50%, -100%);  
}

.cta {
  position: absolute;
  font-size: 1.2em;
  font-family: 'Arial';
  color: #212121;  

  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.effectButton {
  position: absolute;
  font-size: 1.3em;
  font-family: 'Arial';
  color: #ffffff;
  text-decoration: none;
  background: #6930edc0;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;  
  border-radius: 10px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -100%);  
  box-shadow: 3px 3px 3px 1px #0000002d;
}